{% extends 'base.html' %}
{% load humanize %}
{% block title %}Stock Market Data{% endblock title %}
{% block body %}

<div class="container my-5">
    <!-- Dropdown for trade_code -->
    <label for="trade-code">Select Trade_Code to change the first chart:</label>
    <select id="trade-code">
        {% for trade_code in trade_codes %}
        <option value="{{trade_code}}">{{trade_code}}</option>
        {% endfor %}
    </select>

    <!-- Chart container -->
    <div id="chart-container">{{ chart | safe }}</div>

    <div id="chart-container">{{ chart2 | safe }}</div>
</div>

<!-- table to show the data -->
<div class="container">
    <h1 class="text-center">Stock Market Data</h1>
    <P class="text-center"><strong> Total result:{{ total }} || showing 100 of them </strong></P>
    
    <!-- pagination Control -->
    <div class="text-center">
        <span class="step-links">
            {% if data.has_previous %}
                <a class="mx-1" href="?page=1">&laquo; first</a>
                <a class="mx-1" href="?page={{ data.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">
                Page {{ data.number }} of {{ data.paginator.num_pages }}.
            </span>

            {% if data.has_next %}
                <a class="mx-1" href="?page={{ data.next_page_number }}">next</a>
                <a class="mx-1" href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Trade Code</th>
                <th scope="col">High</th>
                <th scope="col">Low</th>
                <th scope="col">Open</th>
                <th scope="col">Close</th>
                <th scope="col">Volume</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for element in data %}
            <tr>
                <td>{{ element.date|date:"Y-m-d" }}</td>
                <td>{{ element.trade_code }}</td>
                <td>{{ element.high|intcomma }}</td>
                <td>{{ element.low|intcomma }}</td>
                <td>{{ element.open|intcomma }}</td>
                <td>{{ element.close|intcomma }}</td>
                <td>{{ element.volume|intcomma }}</td>
                <td><a href="update/{{ element.id }}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination Controls (Repeat at the bottom, if desired) -->
    <div class="text-center">
        <span class="step-links">
            {% if data.has_previous %}
                <a class="mx-1" href="?page=1">&laquo; first</a>
                <a class="mx-1" href="?page={{ data.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">
                Page {{ data.number }} of {{ data.paginator.num_pages }}.
            </span>

            {% if data.has_next %}
                <a class="mx-1" href="?page={{ data.next_page_number }}">next</a>
                <a class="mx-1" href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<!-- js to update the chart based on dropdown selection -->
<script>
    $(document).ready(function () {
        var dropdown = $('#trade-code');
        var chartContainer = $('#chart-container');

        dropdown.on('change', function () {
            var selectedTradeCode = dropdown.val();

            //make an AJAX request to update the chart
            $.ajax({
                type: 'GET',
                url: '/update_chart/',
                data: { 'trade_code': selectedTradeCode },
                success: function (data) {
                    chartContainer.html(data.chart_html1);
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error: " + status, error);
                }
            });
        });
    });
</script>

{% endblock body %}